@import url('https://fonts.googleapis.com/css?family=Cardo|Work+Sans&display=swap');

:root {
	--coral: #FF7A63;
	--jade:  #275244;
}
body {
	background: var(--jade);
	margin: 0;
	padding: 20px;
	color: var(--coral);
	font-size: 14px;
	line-height: 1.25;
}


.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1em 3em;
	
}

/* TYPE */
.sans {
	font-family: 'Work Sans', Helvetica, Arial, sans-serif;
}

.serif {
	font-family: 'Cardo', Garamond, 'Times New Roman', serif;
}

.centre {
	text-align: center;
}

.title {
	font-size: 10em;
	line-height: 90%;
	margin: 40px 0;
}

.summary {
	font-size: 1.5em;
	line-height: 1.35;
}

.accent {
	font-size: 2.5em;
	line-height: 120%;
	margin: 20px 0;
}

.caps {
	text-transform: uppercase;
}

.justify {
	text-align: justify;
}

.fine-print {
	font-size: 10px;
}
/*LINES*/

.line-btm {
	border-bottom: 1px solid var(--coral);
	width: 100%;
	padding: 10px 0;
}

.line-left {
	border-left: 1px solid var(--coral);
	padding: 0 10px;
}

/* IMAGES */
.placeholder {
	border: 1px solid var(--coral);
	padding: 10px;
	text-align: center;
	min-height: 300px;
}

/* GRID */
.span-all {
	grid-column: span 12;
}

.span-third {
	grid-column: span 4;
}

.span-fourth {
	grid-column: span 3;
}

.span-half {
	grid-column: span 6;
}

.span-twothirds {
	grid-column: span 8;
}

.span-threefourths {
	grid-column: span 9;
}