/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  font-family: $sans-serif-font-family;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: $border-radius;
  cursor: pointer;

        /* TODO */
	-moz-box-shadow: 3px 4px 50px -8px #7a25fa;
	-webkit-box-shadow: 3px 4px 50px -8px #7a25fa;
	box-shadow: 3px 4px 50px -8px #7a25fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #55877a), color-stop(1, #a8c4c4));
	background:-moz-linear-gradient(top, #55877a 5%, #a8c4c4 100%);
	background:-webkit-linear-gradient(top, #55877a 5%, #a8c4c4 100%);
	background:-o-linear-gradient(top, #55877a 5%, #a8c4c4 100%);
	background:-ms-linear-gradient(top, #55877a 5%, #a8c4c4 100%);
	background:linear-gradient(to bottom, #55877a 5%, #a8c4c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#55877a', endColorstr='#a8c4c4',GradientType=0);
	background-color:#55877a;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-style:italic;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 10px #000000;
	opacity: 0.5;

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* button colors */
  $buttoncolors: (primary, $primary-color),  (inverse, #fff),
     (light-outline, transparent),  (success, $success-color),
     (warning, $warning-color),  (danger, $danger-color),  (info, $info-color),
     (facebook, $facebook-color),  (twitter, $twitter-color),
     (google-plus, $google-plus-color),  (linkedin, $linkedin-color),
     (reddit, $reddit-color);

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      @include yiq-contrasted($color);
      @if ($buttoncolor == inverse) {
        border: 1px solid $border-color;
      }
      @if ($buttoncolor == light-outline) {
        border: 1px solid #fff;
      }

      &:hover {
        @include yiq-contrasted(mix(#000, $color, 20%));
      }

      &:visited {
        @include yiq-contrasted($color);
      }
    }
  }

  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* extra large button */
  &--x-large {
    font-size: 2em;
  }

  /* large button */
  &--large {
    font-size: 1.5em;
  }

  /* small button */
  &--small {
    font-size: 0.75em;
  }
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #75a89e));
	background:-moz-linear-gradient(top, #476e9e 5%, #75a89e 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #75a89e 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #75a89e 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #75a89e 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #75a89e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#75a89e',GradientType=0);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}

